.LogoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AllProstituteBtn {
    width: 148px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(180deg,#464646 0,rgba(93,93,93,.14) 99.99%,rgba(95,95,95,0) 100%);
    border: 1px solid #232323;
    color: #d3d3d3;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AllProstituteBtn:hover {
    border: 1px solid #fd7e14;
    transition: .2s ease-out;
    cursor: pointer;
}

.AllProstituteBtn img {
    margin-left: 15px;
    height: 17px;
    width: 17px;
}