.menu_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 75px;

}

.menu_logo img{
    width: 65px;
    height: 68px;
    margin-left: 40px;
    box-sizing: border-box;
    margin-top: 3px;
}
