.nav {
    grid-area: n;
    background-color: coral;
    padding: 20px;
  }

.nav .item {
    padding: 3px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeNav {
color: gold;
}