h1 {
    display: flex;
    justify-content: center;
    color: darkslategray;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-box {
    width: 450px;
    height: 450px;
    background-color: darkgrey;
    flex-wrap: wrap;
    display: flex;
}

.box {
    width: 150px;
    height: 150px;
    border: black 1px solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: green;
}
