@media screen and (max-width: 767px) {

    .wrapper {
        min-width: 320px;
    }

    .wrapper .top-menu {
        border-radius: 0;
        order: 1;
        box-sizing: border-box;
        width: 100%;
        min-width: 320px;
        position: fixed;
        top: 0;
        left: 0;
        transition: all .2s ease;
    }

    .wrapper .top-menu .top-menu.out {
        transform: translateY(-100%);
    }

/*    .navbar {
        display: none;
        !*
         width: 360px;
         height: 60px;
        *!
    }

    .btns {
        display: none;
        !*
        margin: 0px;
        width: 320px;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        *!
    }

    .btn {
        display: none;
        !*
        width: 70px;
        height: 30px;
        border: white 1px solid;
        list-style-type: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        *!
    }

    .btn a {
        display: none;
        !*text-decoration: none;*!
    }

    .btn a:visited {
        display: none;
        !*        color: white;*!
    }*/

    .wrapper .header {
        margin-top: 50px;
        /* Пропорциональность высоты к ширине ч.1 */
            width: 100%;
            height: 0;
            position: relative;
            padding-top: 29.32%;
        /* ------------------------------------ */
    }

    .wrapper .header img {
        width: 100%;
        /* Пропорциональность высоты к ширине ч.2 */
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        /* ------------------------------------ */
    }

    .wrapper .content {
        width: 100%;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        border-right: none;
        float: none;
    }

    .wrapper .content .content-block {
        display: flex;
        flex-direction: column;
        font-size: 100%;
    }

    .wrapper .side-left {
        display: flex;
        flex-direction: column;
        float: none;
        border-radius: 0;
    }

    .wrapper .side-left .bar {
        margin: 5px 10px;
        height: 100%;
        font-size: 80%;
    }

    .wrapper .footer {
        border-radius: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px) {

    .wrapper {
        width: 768px;
        margin: 0 auto;
    }

    .wrapper .header {
        height: 225px;
    }

    .wrapper .header img {
        height: 225px;
        border-radius: 5px;
    }

    .wrapper .top-menu {
        margin-top: 3px;
    }

    /*.wrapper .top-menu .navbar {
        width: 470px;
        height: 45px;
    }*/
    /*.wrapper .top-menu .navbar .btns {
        margin: 0px;
        width: 470px;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }*/
    /*.wrapper .top-menu .navbar .btns .btn {
        width: 100%;
        height: 30px;
        border: white 1px solid;
        list-style-type: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }*/
    /*.wrapper .top-menu .navbar .btns .btn a {
        color: white;
        text-decoration: none;
    }*/
    /*.wrapper .top-menu .navbar .btns .btn a:visited {
        color: white;
    }*/

    .wrapper .side-left {
        width: 192px;
    }

    .wrapper .side-left .bar {
        margin: 10px auto;
        width: 182px;
    }

    .wrapper .content {
        width: 573px;
    }

    .wrapper .clear {
        clear: both;
    }
}

@media screen and (min-width: 1224px) {

    .wrapper {
        width: 1024px;
        margin: 0 auto;
    }

    .wrapper .header {
        height: 300px;
    }

    .wrapper .header img {
        border-radius: 5px;
    }

    .wrapper .top-menu {
        margin-top: 5px;
    }

    /*.wrapper .top-menu .navbar {
    !*
        width: 470px;
        height: 60px;
     *!
    }*/
    /*.wrapper .top-menu .navbar .btns {
    !*
        margin: 0px;
        width: 470px;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    *!
    }*/
    /*.wrapper .top-menu .navbar .btns .btn {
    !*
        width: 100%;
        height: 30px;
        list-style-type: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    *!
    }*/
    /*.wrapper .top-menu .navbar .btns .btn a {
    !*
    color: white;
    text-decoration: none;
    *!
    }*/
    /*.wrapper .top-menu .navbar .btns .btn a:visited {
    !*
    color: white;
    *!
    }*/
    .wrapper .side-left {
        width: 256px;
        height: 100%;
    }

    .wrapper .side-left .bar {
        margin: 10px;
        padding: 10px;
    }

    .wrapper .content {
        width: 765px;
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper .content .content-block {
        width: 360px;
    }

    .wrapper .clear {
        clear: both;
    }
}