body {
    background-color: lightgray;
    color: #fff;
    margin: 0;
}

.wrapper .top-menu {
    background: darkslateblue;
    border-radius: 5px;
    height: 50px;
}

.wrapper .content {
    background-color: #fefffd;
    margin-top: 5px;
    border-radius: 5px;
    float: right;
}

.wrapper .content .content-block {
    background-color: #a5fdcf;
    color: black;
    border: 1px solid #129d52;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 10px;
}

.wrapper .side-left {
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
    color: black;
    float: left;
    margin-top: 5px;
    border-radius: 5px;
}

.wrapper .side-left .bar {
    background-color: #a5fdcf;
    border: 1px solid #129d52;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.wrapper .footer {
    background: yellowgreen;
    border-radius: 5px;
    margin-top: 5px;
    color: black;
    height: 50px;
}

.wrapper .footer h6 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}