.ContactInfo {
    border-radius: 5px;
    height: 330px;
    background: #232323;
    color: #aeaeae;
    margin-bottom: 10px;
}

.FirstInfo {
    height: 100px;
    border-radius: 5px 5px 0 0;
    background: #373737;
    padding: 15px;
    margin-bottom: 2px;
}

.Name, .Number {
    font-size: 25px;
    margin-bottom: 10px;
}

.Number {
    color: #fd7e14;
}

.NumberInfo {
    margin-bottom: 10px;
    font-size: 20px;
}

.SecondInfo {
    background: #373737;
    margin-bottom: 2px;
    padding: 10px;
    font-size: 14px;
}

.ThirdInfo {
    background: #373737;
    margin-bottom: 2px;
    padding: 10px;
}

.Message {
    display: flex;
    flex-direction: row;
    border: 1px solid #fd7e14;
    border-radius: 5px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: #fd7e14;
}

.Message:hover {
    background: rgba(253, 126, 20, .1);
}

.ThirdInfo img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.FourthInfo {
    background: #373737;
    margin-bottom: 2px;
    padding: 10px;
    color: #ff848b;
    border-radius: 0 0 5px 5px;
}